/* Google font Manrop weights: 500 and 700
font-family: 'Manrope', sans-serif; */

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
}

.content {
    font-size: 1rem;
    margin-top: 2.5em;
}

.content--image {
    min-height: 40%;
}

.content--title {
    color: hsl(217, 19%, 35%);
    font-size: 1.25rem;
    font-weight: 700;
}

.content--paragraph {
    color: hsl(214, 17%, 51%);
    line-height: 1.75em;
    text-align: left;
    font-size: 1rem;
}

.avatar--info {
    /* border: 2px solid red; */
    flex-grow: 1;
    margin: 0 auto;
    padding-left: 1em;
}


.avatar--name {
    font-size: .8125em;
    color: hsl(217, 19%, 35%);
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
}

.avatar--postdate {
    font-size: .8125em;
    color: hsla(214, 17%, 51%, 0.479);
    padding: 0;
    margin: 0;
}

.avatar--background {
    background-color: hsl(210, 46%, 95%);
    height: 2.75em;
    width: 2.75em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.avatar--share {
    width: 1em;
    background-color: hsl(210, 46%, 95%);
    position: absolute;
}

.avatar--picture {
    border-radius: 100%;
    width: 15%;
    height: 15%;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.avatar {
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    font-size: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {

    html {
        font-size: 16px;
    }

    .content--image {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 3em;
        border-radius: 2em;
    }

    .avatar--info {
        margin-right: 45%;
    }
    
}

@media (min-width: 900px) {

    html {
        font-size: 20px;
    }
}


